#iconos{
    background-color: red;
}
#iconos img{
    width: 20%;
}
h2{
    text-align: center;
}
#logot img{
    padding-left: 20%;
    
            
}
#logot p{
  font-weight: 400;
   
}